.navbar {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 25px;
}
.menu-icon {
    display: flex;
    align-items: center; 
    gap: 20px;
    color: #FFF;
}
.menu-icon h2 {
    max-width: 200px;
}